@import url('https://fonts.googleapis.com/css2?family=Pattaya&family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Pattaya&family=Viga&display=swap');
body {
    background-color: #fff8e6;
}

nav {
    margin: auto;
    background-color: transparent!important;
    height: 56px;
    line-height: 56px;
    box-shadow: none!important;
    font-family: 'Pattaya', sans-serif;
}

nav .brand-logo {
    color: #5a5957!important;
}

nav ul a {
    color: #5a5957!important;
}


/* HERO */

#hero {
    font-family: 'Dancing Script', sans-serif;
    min-height: 100vh;
  
}

.header-text-first {
    font-size: 7rem;
    margin-bottom: 0;
}

.header-text-last {
    font-size: 7rem;
    margin-top: 0;
}
.name-container {
    margin-top: 15rem;
}
.picture-container {
    background-color: white;
}